/* css styles */
.summary h2 {
  font-size: 1.2rem;
  border-bottom: none;
}

.hidden {
  display: none;
}

.exercise {
padding: 1rem 1.5rem;
border: 5px solid #fce762;
}

.exercise h3 {
margin-top: 0;
}
