/* css styles */

.hidden {
  display: none;
}

.exercise {
padding: 1rem 1.5rem;
border: 5px solid #fce762;
}

.exercise h3 {
margin-top: 0;
}

kbd {
  padding: .1rem .2rem;
}

.summary {
  display:flex;
  border: 1px solid #dee2e6;
  padding: 0rem .7rem;
  margin: 1.5rem 0;
  gap: 5px;
}


.summary h2 {
  font-size: 1.2rem;
  border-bottom: none;
  margin: 1rem 0;
  padding: 0;
}

@media (width <= 765px) {
.summary {
  display:block;
  gap: 0;
}


}

img {
  border: 1px solid #ccc;
}
